<h1>{{title}}</h1>

<h2>Login</h2>
<form action="/login" method="post">
  <input type="text" name="username" placeholder = "Username">
  <input type="password" name="password" placeholder = "Password">
  <input type="submit" name="LoginSubmit" value="Submit">
</form>

<h2>Register</h2>
<form action="/register" method="post">
  <input type="text" name="usernameReg" placeholder = "Username">
  <input type="password" name="passwordReg" placeholder = "Password">
  <input type="submit" name="RegisterSubmit" value="Submit">
</form>
